* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(47, 47, 47);
}
#header {
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
#title {
  font-family: "Luxurious Script", cursive;
  font-weight: 100;
  font-style:normal;
  color: rgb(255, 219, 172);
  font-size: 70px;  
  
}
.item {
    display: flex;
    align-items: center;

}
li {
    margin: 25px;
}
ul > li > a {
    color:rgb(255, 222, 180);
    text-decoration: none;
    font-size: 30px;
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
}
ul > li > a:hover {
    color:rgb(255, 249, 241);
   
}

/* Course CSS */